/*---------- General site-wide elements ----------*/

body {
  background-color: #000;
  padding-top: 130px;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: 0.85rem;
}

h3 {
  font-size: 0.8rem;
}

h1,
h2 {
  font-family: "Michroma", sans-serif;
  color: #fff;
}

h4 {
  font-family: "Roboto", sans-serif;
  color: #1e63ff;
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
}

hr {
  border: 2px solid #ff6000;
}

a {
  color: transparent;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.heading-icon {
  color: #ff6000;
}

.btn-primary {
  background-color: #1e63ff;
  border-color: #000;
}

a i:hover {
  color: #ff6000;
  background: #fff;
}

/*---------- Header Text ----------*/

.banner {
  align-items: center;
  background-color: #000;
}

.name-logo {
  text-decoration: none !important;
}

/*---------- Navigation ----------*/

.nav-link {
  font-family: "Michroma", sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  color: #00bfff;
  padding: 20px 0px;
  margin: 0px 10px;
  display: inline-block;
  position: relative;
}

.navbar-toggler {
  border: 1px solid #00bfff;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.75rem;
}

.navbar-toggler-icon {
  margin-right: 120px;
  display: block;
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.navbar-toggler-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  background-color: #00bfff;
}

.nav-link::before {
  transition: 300ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #ff6000;
}

.nav-link-fade-up::before {
  width: 100%;
  bottom: 4px;
  opacity: 0;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.nav-link-fade-up:hover::before {
  bottom: 10px;
  opacity: 1;
}

.navbar-nav .nav-link.active {
  color: #1e90ff;
}

ul.nav a:hover {
  color: #ff6000 !important;
}

.navbar-toggler-icon span:nth-child(1) {
  top: 0px;
}
.navbar-toggler-icon span:nth-child(2),
.navbar-toggler-icon span:nth-child(3) {
  top: 10px;
}

.navbar-toggler-icon span:nth-child(4) {
  top: 20px;
}

.navbar-toggler-icon.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}
.navbar-toggler-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.navbar-toggler-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.navbar-toggler-icon.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/*---------- Personal Info & About Me Sections ----------*/

.bg-color-personal-info {
  background-color: #fff;
}

.section-column {
  display: table-cell;
  float: none;
}

.section-heading {
  font-family: "Michroma", sans-serif;
  margin-top: 25px;
  margin-bottom: 25px;
}

.personal-info-heading {
  color: #1e90ff;
}

.my-photo {
  border: 1px solid #000;
  margin-bottom: 16px;
}

.personal-info-item {
  margin-bottom: 20px;
  display: block;
  clear: both;
}

.personal-info-item .key,
.personal-info-item .value {
  padding-right: 8px;
}

.personal-info-item .key {
  margin-bottom: 10px;
  padding-top: 2px;
  vertical-align: top;
}

.personal-info-item .value {
  position: relative;
}

.personal-info-item .key p,
.personal-info-item .value p {
  margin: 0;
}

.personal-info-item .key p {
  font-weight: 700;
  text-transform: uppercase;
}

.about-me-section {
  padding-left: 0;
  padding-right: 0;
}

.about-me-box {
  background-color: #f8f9fa;
  border: 4px solid #ff6000;
  padding: 2%;
  margin-top: 30px !important;
}

.black-bg-h3 {
  color: #00bfff;
  text-align: center;
}

.about-me-sub-heading {
  text-align: center;
  margin-bottom: 0.5rem;
}

.about-me-icon {
  color: #ff6000;
  font-size: 26px;
  margin-top: 16px;
  margin-bottom: 16px;
}

/*---------- CV ----------*/

.download-cv-icon {
  width: 35px;
  height: 35px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 20px;
  line-height: 12px;
  text-align: center;
  color: #fff;
  background: #ff6000;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

/*---------- Skills ----------*/

.skill-cards,
.project-cards {
  align-items: center;
  justify-content: center;
  padding: 0;
}

.skill-card {
  margin: 7.5% auto;
  padding: 15px;
  align-items: center;
  z-index: 2;
  display: block;
  transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  border: 4px solid #ff6000;
}

.skill-logo {
  background-position: center center;
  width: 100px;
  height: 100px;
}

/*---------- Education & Work Timelines ----------*/

.history-items {
  margin-bottom: 30px;
}

.timeline-item {
  padding: 4em 2em 0em 2em;
  position: relative;
  color: #fff;
  border-left: 1px solid;
}

.timeline-item h4 {
  text-align: left;
}

.timeline-item p {
  padding: 0;
  margin: 0;
}

.timeline-item:before {
  content: attr(data-dates);
  position: absolute;
  left: 2.5em;
  top: 3em;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.8em;
  padding: 0;
  margin: 0;
}

.timeline-item:after {
  width: 16px;
  height: 16px;
  display: block;
  top: 2.4em;
  position: absolute;
  left: -8px;
  border-radius: 12px;
  content: "";
  background: #ff6000;
}

/*---------- Projects ----------*/

.project-card {
  margin: 3.75%;
  padding: 15px;
  align-items: center;
  z-index: 2;
  display: block;
  transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  border: 4px solid #ff6000;
}

.project-image {
  background-position: center center;
  width: 100%;
  height: 237px;
  border: 1px solid #000;
}

/*---------- Contact Form ----------*/

.form-control {
  border: 2px solid #ff6000;
}

button[type="submit"] {
  margin-top: 15px;
  margin-bottom: 20px;
  color: #fff;
}

.btn-submit:hover {
  color: #000;
  background-color: #54bf30;
  border-color: #fff;
}

/*---------- Footer ----------*/

footer {
  min-height: 120px;
}

.connect-title {
  font-family: "Michroma", sans-serif;
  color: #00bfff;
  margin-top: 1.9rem;
}

.social-links {
  padding-bottom: 15px;
}

.list-inline-item:not(:last-child) {
  margin-right: 3.8rem;
  margin-top: 1.9rem;
  margin-bottom: 1.9rem;
}

.social-links li a i {
  width: 35px;
  height: 35px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 20px;
  line-height: 12px;
  text-align: center;
  color: #fff;
  background: #ff6000;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  color: #ff6000;
  background: #fff;
}

/*---------- Media Queries ----------*/

@media (min-width: 544px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.85rem;
  }

  h4 {
    font-size: 0.8rem;
  }

  p {
    font-size: 0.75rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.85rem;
  }

  p {
    font-size: 0.8rem;
  }
}

@media (min-width: 992px) {
  .center-form {
    padding-top: 30px;
    min-height: 240px;
    margin: 0 auto;
    max-width: 75%;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1rem;
  }

  p {
    font-size: 0.85rem;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }
}
