@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Roboto:100,200,300,400,500,600,700&display=swap");

.img-fluid {
    max-width: 100%;
    height: auto;
}

.banner {
    align-items: center;
}