@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Roboto:100,200,300,400,500,600,700&display=swap");

body {
  background-color: #000;
}

p {
  color: #fff;
}

.banner {
  align-items: center;
}

.row-table {
  display: table;
}

.section-column {
  display: table-cell;
  padding: 0 30px 30px;
  float: none;
}

.section-heading {
  font-family: "Michroma", sans-serif;
  margin-top: 25px;
  margin-bottom: 40px;
}

.section-sub-heading {
margin-bottom: 15px;
}

.about-me-icon {
font-size: 26px;
color: #ff6000;
}

footer {
  min-height: 120px;
}

.social-links {
  padding-bottom: 15px;
}

.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 13px;
  line-height: 7px;
  text-align: center;
  color: #fff;
  background: #ff6000;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  color: #ff6000;
  background: #fff;
}
